
  @media only screen and (max-width:767px){
    /* For mobile: */
    body{width: 100%;}
    .a{width: 62.5%;}
    .b{width: 62.5%;}
    .c {width: 62.5%;}
    .d{width: 62.5%;}
    .e {width: 31.29%;}
    .f {width: 31.29%;}
    .g {width: 31.29%;}
    .h {width: 31.29%;}
    .i {width: 62.5%;}

  }

  @media only screen and (max-width: 960px),(min-width: 768px) {
    /* For desktop: */
    body{width:960px;}
    .a {width: 100%;}
    .b{width: 20.8%;}
    .c{width: 39.6%;}
    .d {width:39.6%;}
    .e {width: 19.80%;}
    .f {width: 19.80%;}
    .g {width: 19.80%;}
    .h {width: 19.80%;}
    .i {width: 79.2%;}

  }
  * {
    box-sizing: border-box;
    text-align: center;
  }