 @media(min-width: 768px){ 
    /* For desktop: */

  body{width: 960px;
      height: 768;
     display: grid;  
     grid-template-columns: repeat(5,20%); 
     grid-template-rows: repeat(4,25%);
    text-align: center;
        }
    .a{
     text-align: center;
     padding: 30px;
     grid-column: 1/6;
     grid-row: 1;
      background-color: rgb(216, 236, 236);
   
  }
  .b{  text-align: center;
      padding: 30px;
      grid-row:2/5; 
      grid-column: 1;
      background-color: rgb(82, 240, 135);
    
  }
 
  .c{ 
      grid-column: 2/4;
      grid-row: 2;
      background-color: rgb(240, 140, 82);
  }
  .d{ 
       grid-column: 4/6;
       grid-row: 2;
      background-color: rgb(190, 163, 177);
  }
  
  .e {
      background-color: rgb(218, 15, 120);
  }
  .f{
  
  background-color: blueviolet;
  }
  .g{
    
      background-color: chartreuse;
      }
  .h{
   
    background-color: rgb(221, 166, 198);
      }
  .i{
      grid-column: 2/6;
      grid-row: 4;
   background-color: rgb(43, 107, 226);

    }
}  

@media(max-width:550px){  
    /* For mobile  */
      body{width: 480px;
     height: 767;
     display: grid;
     grid-template-columns: repeat(2,50%);
   }
   .a{
     grid-column: 1/3;
     height: 75px;
     background-color: rgb(82, 240, 240);
     line-height: 75px;
 }
 .b{
     grid-column: 1/3;
     height: 150px;
     background-color: rgb(82, 85, 240);
     line-height: 150px;
 }
 .c,.d{ 
     height: 125px;
     line-height: 125px;
     
 }
 .c{
     grid-column: 1/3;
     background-color: rgb(240, 140, 82);
 }
 .d{  grid-column: 1/3;
     background-color: rgb(190, 163, 177);
 }
 .e{ 
   grid-row: 1;
   grid-row: 5;
    background-color: blueviolet;}

 .f{  grid-column: 2;
   grid-row: 5;
    background-color: rgb(171, 206, 45);}

  .g{  grid-column: 1;
   grid-row: 6;
   background-color: rgb(226, 43, 43);}
   
 .h{  grid-column: 2;
    grid-row: 6;
 background-color: rgb(206, 45, 134);}

   
.i { grid-column: 1/3; 
 height: 80px;
 background-color: green;
 line-height: 80px;}
}
.e ,.f,.g ,.h{
 height: 250px;
 line-height: 250px;
} 