

   @media only screen and (min-width: 768px),(max-width: 960px){
    /* For desktop: */
     body{width: 960px;
           height: 768px;}
    .a{
      width: 100%;
      height: 100px;
      background-color: rgb(216, 236, 236);
      line-height:100px;
  }
  .b{
      width: 20.8%;
      height: 600px;
      float: left;
      background-color: rgb(82, 240, 135);
      line-height: 600px;
  }
  
  .c,.d{
      width: 39.6%;
      height: 200px;
      line-height: 200px;
  }
  .c{
      float:left;
      background-color: rgb(240, 140, 82);
  }
  .d{
      float:right;
      background-color: rgb(190, 163, 177);
  }
  
  .e ,.f,.g,.h{
    width: 19.80%;
      clear: right;
      float: left;
      height: 250px;
      line-height: 250px;
  }
  
  .e {
      background-color: rgb(190, 163, 177);
  }
  .f{
  
  background-color: blueviolet;
  }
  .g{
      
      background-color: chartreuse;
      }
  .h{
    
    background-color: rgb(221, 166, 198);
      }
  .i{
   height: 150px;
   background-color: rgb(43, 107, 226);
   float: right;
   position: relative;
   bottom: 150px;
   line-height: 150px;
   width: 79.2%;
    }
  

  } 
